@import './variable';

body {
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    color: $dark;
}

nav li:last-child a {
    background: $primary;

    &:hover {
        background: $primary-hover;
    }
}

nav li a {
    transition: $smooth ;

    &:hover {
        color: $primary
    }
}

section.hero {
    background: $secondary;
}

.size {
    background: $secondary;
}

.add-to-cart {
    border: 2px solid $primary;
    color: $primary;
    transition: $smooth;

    &:hover {
        background: $primary-hover;
        border-color: $pure;
        color: $pure;
    }
}