<section class="hero py-16">
    <div class="container mx-auto flex items-center justify-between">
        <div class="w-1/2">
            <h6 class="text-lg"><em>Are You Hungry?</em></h6>
            <h1 class="text-6xl font-bold">Don't Wait</h1>
        </div>
        <div class="w-1/2">
            <img src="/img/pizza-png-15.png" alt="" style="margin-left: 40%;">
        </div>
    </div>
</section>

<section class="menu container mx-auto py-8">
    <h1 class="text-xl font-bold mb-8">All Pizaa</h1>
    <div class="grid grid-cols-4 col-gap-12 row-gap-16">
        <div class="w-64">
            <img src="/img/margerita.png" class="h-40 mb-4 mx-auto" alt="">
            <div class="text-center">
                <h2 class="mb-4 text-lg">Margerita</h2>
                <span class="size py-1 px-4 rounded-full uppercase text-xs">small</span>
                <div class="flex items-center justify-around mt-6">
                    <span class="font-bold text-lg">₹250</span>
                    <button class="add-to-cart py-1 px-5 rounded-full flex items-cenetr font-bold">
                        <span>+</span>
                        <span class="ml-4">Add</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="w-64">
            <img src="/img/margerita.png" class="h-40 mb-4 mx-auto" alt="">
            <div class="text-center">
                <h2 class="mb-4 text-lg">Margerita</h2>
                <span class="size py-1 px-4 rounded-full uppercase text-xs">small</span>
                <div class="flex items-center justify-around mt-6">
                    <span class="font-bold text-lg">₹250</span>
                    <button class="add-to-cart py-1 px-5 rounded-full flex items-cenetr font-bold">
                        <span>+</span>
                        <span class="ml-4">Add</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="w-64">
            <img src="/img/margerita.png" class="h-40 mb-4 mx-auto" alt="">
            <div class="text-center">
                <h2 class="mb-4 text-lg">Margerita</h2>
                <span class="size py-1 px-4 rounded-full uppercase text-xs">small</span>
                <div class="flex items-center justify-around mt-6">
                    <span class="font-bold text-lg">₹250</span>
                    <button class="add-to-cart py-1 px-5 rounded-full flex items-cenetr font-bold">
                        <span>+</span>
                        <span class="ml-4">Add</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="w-64">
            <img src="/img/margerita.png" class="h-40 mb-4 mx-auto" alt="">
            <div class="text-center">
                <h2 class="mb-4 text-lg">Margerita</h2>
                <span class="size py-1 px-4 rounded-full uppercase text-xs">small</span>
                <div class="flex items-center justify-around mt-6">
                    <span class="font-bold text-lg">₹250</span>
                    <button class="add-to-cart py-1 px-5 rounded-full flex items-cenetr font-bold">
                        <span>+</span>
                        <span class="ml-4">Add</span>
                    </button>
                </div>
            </div>
        </div>
            <div class="w-64">
            <img src="/img/margerita.png" class="h-40 mb-4 mx-auto" alt="">
            <div class="text-center">
                <h2 class="mb-4 text-lg">Margerita</h2>
                <span class="size py-1 px-4 rounded-full uppercase text-xs">small</span>
                <div class="flex items-center justify-around mt-6">
                    <span class="font-bold text-lg">₹250</span>
                    <button class="add-to-cart py-1 px-5 rounded-full flex items-cenetr font-bold">
                        <span>+</span>
                        <span class="ml-4">Add</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="w-64">
            <img src="/img/margerita.png" class="h-40 mb-4 mx-auto" alt="">
            <div class="text-center">
                <h2 class="mb-4 text-lg">Margerita</h2>
                <span class="size py-1 px-4 rounded-full uppercase text-xs">small</span>
                <div class="flex items-center justify-around mt-6">
                    <span class="font-bold text-lg">₹250</span>
                    <button class="add-to-cart py-1 px-5 rounded-full flex items-cenetr font-bold">
                        <span>+</span>
                        <span class="ml-4">Add</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="w-64">
            <img src="/img/margerita.png" class="h-40 mb-4 mx-auto" alt="">
            <div class="text-center">
                <h2 class="mb-4 text-lg">Margerita</h2>
                <span class="size py-1 px-4 rounded-full uppercase text-xs">small</span>
                <div class="flex items-center justify-around mt-6">
                    <span class="font-bold text-lg">₹250</span>
                    <button class="add-to-cart py-1 px-5 rounded-full flex items-cenetr font-bold">
                        <span>+</span>
                        <span class="ml-4">Add</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="w-64">
            <img src="/img/margerita.png" class="h-40 mb-4 mx-auto" alt="">
            <div class="text-center">
                <h2 class="mb-4 text-lg">Margerita</h2>
                <span class="size py-1 px-4 rounded-full uppercase text-xs">small</span>
                <div class="flex items-center justify-around mt-6">
                    <span class="font-bold text-lg">₹250</span>
                    <button class="add-to-cart py-1 px-5 rounded-full flex items-cenetr font-bold">
                        <span>+</span>
                        <span class="ml-4">Add</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>