<nav class="container mx-auto flex items-center justify-between">
    <div>
        <img src="/img/logo.png" alt="logo" width="60px" height="60px">
    </div>

    <div>
        <ul class="flex items-center py-4">
            <li class="ml-6"><a href="#">Menu</a></li>
            <li class="ml-6"><a href="#">Offers</a></li>
            <li class="ml-6"><a href="#">Register</a></li>
            <li class="ml-6"><a href="#">Login</a></li>
            <li class="ml-6"><a href="#" class="inline-block px-4 py-2 rounded-full"><img src="/img/cart.png" alt="cart" width="20px" style="border-radius: 50%" height="20px"></a></li>
        </ul>
    </div>
</nav>